@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


:root{
    --font-white: #FEFEFE;
    --background-color: rgba(0, 0, 0, 0.9);
    --content-background: #28282B;
    --card-background: #000000;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../src/img/background-image.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
}

.main-header{
    width: 100%;
    height: 7rem;
    /* background-color: goldenrod; */
    background-color: var(--background-color);
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.restaurant-title{
    font-size: 3rem;
    color: var(--font-white);
    font-family: 'Amatic SC', cursive;
}


.buttons-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-header button {
    border: none;
    /* margin-bottom: 6px;   */
    width: 4rem;
    height: 1.5rem;
    color: var(--font-white);
    background-color: transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.main-header button:hover{
    transform: translateY(-6px);
}

#mainContent {
    order: 2;
    flex-grow: 1;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}




.main-menu-content, .home-main-content{
    margin-top: 24px;
    background-color: var(--content-background);
    /* width: 80%; */
}

.page-title{
    text-align: center;
    margin: 30px 0;
    font-size: 1.7rem;
}

.home-main-content{
    width: 880px;
    color: var(--font-white);
}

.restaurant-description{
    margin: 0 80px; 
}

.description-paragraph{
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 32px;
}

.dessert-content{
    background-color: var(--background-color);
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(1, 300px);
    color: var(--font-white);
    margin: 0 10px;
}

.foods-name{
    font-weight: 700;
}

.foods-image{
    width: 180px;
    height: auto;
    /* filter: grayscale(50%); */
    border-radius: 10%;
}

.hamburger-content{
    /* background-color: indianred; */
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(4, 300px);
    margin: 30px;
    gap: 20px;
}

.hamburger-container:hover{
    background-color: var(--card-background);
}

.hamburger-container, .dessert-container{
    /* border: 1px solid blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--card-background); */
    color: var(--font-white);
}

.foods-ingredients{
    width: 360px;
    height: 42px;
    text-align: center;
}





::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #7b7a7a;
}
  
::-webkit-scrollbar-thumb {
    background: #2f2e2e;
}

::-webkit-scrollbar-thumb:hover {
    background: #383232;
}